@if (!showEndScreen && current) {
    <div class="settingsButtonBar">
        <button [routerLink]="'settings'">⚙️</button>
    </div>

    <app-exercise [exercise]="current" [show]="show"></app-exercise>

    <div class="progress-bar">
        <label for="progress">{{ progress.index }} / {{ progress.max }}</label>
        <progress id="progress" [value]="progress.index" [max]="progress.max"></progress>
        <button (click)="next()">Next</button>
    </div>
}
@else {
    <h4>Yay you have finished this exercise!</h4>
}