main {
    margin: auto;
    min-width: min-content;
    max-width: 40rem;

    .settingsButtonBar {
        display: flex;
        justify-content: end;

        button {
            font-size: 2em;
        }
    }
}