<main aria-live="polite">
    @if (!showEndScreen) {
        <p>{{ current?.toString() }}</p>
        <hr/>
        <p [style.visibility]="showAnswer ? 'visible' : 'hidden'">
            {{ current?.answer() }}
        </p>
        
        <div class="progress-bar">
            <label for="exercises">{{ progress }}</label>
            <progress id="exercises" [value]="index" [max]="exercises.length"></progress>
            <button tabindex="1" (click)="next()">Next</button>
        </div>
    }
    @else {
        <h4>Yay you have finished this exercise!</h4>
    }
</main>